[submodule "themes/restaurant-hugo"]
	path = themes/restaurant-hugo
	url = https://github.com/themefisher/restaurant-hugo.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-fresh"]
	path = themes/hugo-fresh
	url = https://github.com/StefMa/hugo-fresh
